doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/cross.css')
    link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css')
  body
    .flash.alert.alert-dismissable
      span
      button.close(type='button', aria-hidden='true') &times;

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li
              a.navbar-brand.web2spa(href='/cross/crosses')
                b CROSS &trade;&nbsp;
            li
              a.nav.navbar-nav.web2spa(href='/cross/news')
                b News
            li
              a.inmenu
                label
                  input#chainMode(type='checkbox', checked)
                  | Edit chain

    block content


    h4 Login to your account
    form(action='/login' method='post')
      fieldset
        label(for='email') Email
        input(type='email' name='email' placeholder='Your Email')
        label(for='password') Password
        input(type='password' name='password' placeholder='Your Password')
        button(type='Login') Login

    .container.cont-mid
      .panel.panel-info
        .panel-heading Log In
          button.close.btn.btn-default(type='button', title='Close')
        .panel-body
          form.form-horizontal(method='post', enctype='multipart/form-data', action='#')
            .form-group
              label.control-label.col-sm-3 E-mail
              .col-sm-9
                input.form-control.string(type='text', value='', name='email')
            .form-group
              label.control-label.col-sm-3 Password
              .col-sm-9
                input.form-control.password(type='password', value='', name='password')
            .form-group
              .col-sm-offset-3.col-sm-9
                .checkbox
                  label
                    input.boolean(type='checkbox', checked, name='remember_me')
                    | Remember me (for 30 days)
            .form-group
              .col-sm-offset-3.col-sm-9
                input.btn.btn-primary.btn-default(type='submit', value='Log In')
                button.btn.btn-default Sign Up
                button.btn.btn-default Lost Password



    script(src='/static/javascripts/jquery.min.js')
    script(src='/static/javascripts/bootstrap.min.js')
    script(src='/static/javascripts/web2spa.js')
    script(src='/static/javascripts/app.js')
    script(src='/static/javascripts/controllers.js')
